@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$yellow: #f9ed49;

// Update Bulma's global variables
$primary:$yellow;

// Component variables
$navbar-padding-vertical:0;

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
